{% load static %}
<html>
    <head>
        <link rel ="stylesheet" href="/static/javascript.js">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <link href='https://fonts.googleapis.com/css?family=Allura' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Aref Ruqaa' rel='stylesheet'>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
        $( function() {
          $( "#accordion .one" ).accordion({
              active: false,
              collapsible :true,
            
              // animate : 300
          });
        } );
        </script>
        <script>
       $(function() {
        $('.up').on('click', function(e) {
          var wrapper = $(this).closest('.one')
          wrapper.insertBefore(wrapper.prev())
        })
        $('.down').on('click', function(e) {
          var wrapper = $(this).closest('.one')
          wrapper.insertAfter(wrapper.next())
        })
      })
      </script>
      <style>
body{background-color: lightslategrey;

}
.one{
    background-color: white;
    padding:3px;
    align-items: center;
    margin: 2px;
    box-shadow:3px 3px rgba(218, 218, 167, 0.548);
    width: 99%;       
    overflow: hidden;
      }
a.up {
    text-decoration: none;
    display: inline-block;
    padding: 3px 5px;  
    margin: 3px; 
    background-color:gainsboro;
    }
a.down {
  text-decoration: none;
  display: inline-block;
  padding: 3px 5px;
  margin: 3px;
  background-color:gainsboro;
}
#pepejam{width:450;
        height: 450;
        }
h1#Name{font-style: italic;
        font-family: 'Times New Roman';}
      </style>
    </head>
    <body><center>
        <img id="pepejam" src="{% static 'images/51e.gif' %}">
    
    <h1 id="Name">Kevin Constantine</h1>
</center>
        <div id="accordion">
            <div Class="one">   
                <h3>About Me <span style="float:right"><a class='up'>^</a>&nbsp;&nbsp;<a class='down'>V</a></span></h3>
                        <p> Hello! My name is Kevin Constantine, a student of Universitas Indonesia. Currently taking PPW/WDP Course 
                        </p>
            </div>
      
            <div Class="one">
                <h3>Current Activities<span style="float:right"><a class='up'>^</a>&nbsp;&nbsp;<a class='down'>V</a></span></h3>   
                    <p> Gaming <br> Sleep<br> More Sleep<br> Doing PPW Story<br> </p>
            
            </div>
      
            <div Class="one">
                <h3>Organization Track Record<span style="float:right"><a class='up' href='#'>^</a>&nbsp;&nbsp;<a class='down'>V</a></span></h3>   
                    <ul><li>Event Organizer of Frienship Night, part of SKIPI JAM 2019 EQUINOX Event</li>
                    
                    <li>Local Church's (Santa Maria Immaculata Church) multimedia team member</li> </ul>
              </div>
            <div Class="one">
                <h3>Achievement<span style="float:right"><a class='up' href='#'>^</a>&nbsp;&nbsp;<a class='down'>V</a></span></h3>   
                    <p>Organized Friendship Night, part of SKIPI JAM 2019 EQUINOX Event
                    </p>
              </div>
          <br>
        </div>
</body>
 </html>